.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-nav {    
    background-color: #282C36;
    color: #FFFFFF;
    min-width: 150px;
}

.menu-list a {
    color: #FFFFFF;
    font-size: 12px;
}

.menu-list a mat-icon {
    margin-right: 10px;
}

.menu-list a:hover {
    background-color: rgba(0,0,0,.04);
}